.SignUp{
    width:100%;
    height:100vh;
    background: url('../../images/login-bg.png') no-repeat;
    background-size: cover;
    position: relative;
}
.SignUpBox{
    position: absolute;
    top:50%;
    left:50%;
    width:25%;
    transform: translate(-50%, -50%);
    background-image:linear-gradient(to right, #A5F8CA, #9EDFF1);
    padding:3rem 3rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 2rem #a0a0a0;
}
.SignUpBox h3{
    color:#fff;
    font-size:2.5rem;
    margin-bottom:3rem;
    font-weight:500;
}
.SignUpBox input{
    border:none;
    outline:none;
    padding:1.2rem 2rem;
    width:100%;
    margin-bottom:2rem;
    border-radius:.5rem;
    position:relative;
}
.SignUpBox .signupBtn{
    width:100%;
    border:none;
    outline:none;
    padding:1rem 1.5rem;
    background:#550597; 
    color:#fff;
    border-radius:1rem;
    font-weight:700;
    font-size:1.6rem;
}
.SignUpBox .signupBtn:hover{
    background:#9a3ee6;
    box-shadow:1rem 1rem 2rem #cccccc;
}
.SignUpBox .loginBtn span{
    margin-left:.5rem;
}
/*login with facebook and google account style*/
.loginOption{
    padding: 2rem 0;
}
.loginOption button{
    width:47%;
    border: none;
    outline: none;
    padding:1rem;
    margin-right:3%;
    border-radius:.5rem;
    color:#f5f5f5;
    font-weight: 700;
    margin-bottom:1.5rem;
}
.loginOption .facebook{
    background: blue;
}
.loginOption .google{
    background: green;
}
.loginOption a{
    font-size:1.4rem;
}
.loginOption a:hover{
    text-decoration: underline;
}
.actionDisplay{
    width:24%;
    position: absolute;
    text-align: center;
    margin-top:2%;
    left:38%;
    background:#ebebeb;
    padding:1rem;
    border-radius:.5rem;
}