.header{
    position: sticky;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.5rem .5rem;
    background: #fff;
    box-shadow:  .1rem .1rem .5rem #d1c5e3;
    z-index: 10;
}
.logo{
    flex-basis:15%;
    text-transform: uppercase;
    font-weight:700;
}
.logo span{
    color:#dfb839;
}
.navbar{
    flex-basis:75%;
}
.navbar ul{
    text-align: right;
}
.navbar ul li{
    display: inline;
    margin-left:3rem;
}
.addToCart{
    position: relative;
    flex-basis:10%;
    text-align: center;
}
.addToCart a{
    font-size:2.2rem;
    position:relative;
}
.addToCart .product-count {
    position: absolute;
    top: 15%;
    left: 58%;
    width:1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 50%;
    background: #dfb839;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    z-index: 999;
}
#mobileMenu{
    text-align:right;
    display: none;
}
#mobileMenu a{
    font-size: 2.2rem;
}


/*
------------------------------------------------------------
--------- Responsive Styles For Header Section ---------
------------------------------------------------------------
*/
@media all and (max-width:768px){
    .header .row{
        flex-wrap: nowrap;
    }
    .navbar ul {
      text-align: right;
      position: absolute;
      text-align: center;
      background: #52144c;
      width: 100%;
      height: 100vh;
      left:-100%;
      top: 100%;
      padding:2rem 0;
      visibility:hidden;
      z-index: 9999;
  }
  .navbar ul li {
    display: block!important;
    margin-left: 3rem;
    text-align: center;
  }
  .navbar ul li a{
    color:#fff;
  }
    #mobileMenu{
      display:block!important;
    }
  }
  /*visible navbar */
  @media all and (min-width:769px){
    .navbar ul {
        visibility: visible!important;
    }
  }