.header{
    position: sticky;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1.5rem;
    background: #fff;
    box-shadow:  .1rem .1rem .5rem #d1c5e3;
    z-index: 10;
}
.logo{  
    text-transform: uppercase;
    font-weight:700;
}
.logo span{
    color:#dfb839;
}
.header .menu{
    margin-left: 1rem;
}
.header .searchbar{
    flex-grow: 1;
}
.header .search-box{
    max-width: 80rem;
    width: 100%;
    margin: 0 .5rem;
}
.header .login-btn button{
    border: none;
    outline: none;
    padding: .6rem 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 1rem;
    background: #FF6000;
}
.cart-icon{
    position: relative;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
.cart-icon .cart-total {
    position: absolute;
    top: -.4rem;
    right: -1.5rem;
    font-size: 1.3rem;
    color: #fff;
    background: #FF6000;
    min-width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 50%;
    text-align: center;
}