.header{
    position: sticky;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.5rem .5rem;
    background: #fff;
    box-shadow:  .1rem .1rem .5rem #d1c5e3;
    z-index: 10;
}
.logo{
    flex-basis:15%;
    text-transform: uppercase;
    font-weight:700;
}
.logo span{
    color:#dfb839;
}
.navbar{
    flex-basis:75%;
    justify-content: flex-end;
}

.navbar  a{
    font-size: 1.6rem;
    color: #000;
    margin-left: 3rem;
}
.addToCart{
    position: relative;
    flex-basis:10%;
    text-align: center;
    font-size: 1.6rem;
}
.addToCart a{
    font-size:2.2rem;
    position:relative;
    color: #000;
}
.addToCart .product-count {
    position: absolute;
    top: 15%;
    left: 58%;
    width:1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 50%;
    background: #dfb839;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    z-index: 999;
}
